name: duolingo-to-markdown

on:
  schedule:
    - cron: '1 1 * * *'
  workflow_dispatch:

jobs:
  duolingo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: duolingo to markdown
        uses: diegoaichele/duolingo-to-markdown@v0.2
        with:
          DUOLINGO_USERNAME: ${{ secrets.DUOLINGO_USERNAME }}
          DUOLINGO_PASSWORD: ${{ secrets.DUOLINGO_PASSWORD }}
#         DUOLINGO_STREAK: true
#         DUOLINGO_LANGUAGE_LENGTH: 2
      - name: commit changes
        continue-on-error: true
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit -m "Updated duolingo-to-markdown daily progress" -a
      - name: push changes
        continue-on-error: true
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GH_TOKEN }}\
          branch: main
